body, html, h1, div, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#splash {
  background-color: rgba( 0, 0, 50, .7);
  height: 100vh;
  width: 100vw;

  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 3s;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,50,.8);
  padding: 70px;
  border-radius: 15px;
  margin: auto;
  animation-name: fade-in;
  animation-duration: 5s;
}

.hidden {
  opacity: 0;
  z-index: -2;
}


#synth {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  animation-name: fade-in;
  animation-duration: 15s;
}

body {
  background-color: black;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  z-index: 1;
  color: white;
  font-family: 'Megrim', cursive;
}

p {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.buttons {
  position:relative;
  z-index: 1;
  height: 10vh;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
}

.waves {
  display: flex;
  justify-content: space-around;
  width: 75vw;
}

.loop-controls {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

@keyframes looping {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.looping {
  opacity: 1;
  animation-name: looping;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.active {
  opacity: 1;
}

img {
  height: 25px;
  opacity: 0.2;
  transition: .7s;
}

img:hover {
  opacity: 1;
  transition: .12s;
  cursor: pointer;
}
